// Overrrided the input group to maintain the width of the input group 
.todo-input-group {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap; // For form validation feedback
	position: relative;
	//removed the width attribute

	> .form-control,
	> .form-select {
		flex: 1 1 auto;
		min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
		position: relative; // For focus state's z-index
		width: 1%;
	}
  
	> .form-control:focus,
	> .form-select:focus {
		z-index: 3;
	}

	.btn {
		position: relative;
		z-index: 2;
  
		&:focus {
			z-index: 3;
		}
	}
}
