{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "indentation": "tab",
    "string-quotes": [
      "double",
      {
        "avoidEscape": false
      }
    ]
  },
  "no-missing-end-of-source-newline": false,
  "max-nesting-depth": [
    20,
    {
      "ignore": [
        "pseudo-classes"
      ]
    }
  ]
}